:root{
    --dark-color:#171717;
    --secondary-color:#3c948b;
    --off-white-color :#f4f4f4;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  } 
  /*utilities*/
  .container{
    max-width: 1170px ;
    margin: auto;
  }
  .btn{
    padding: 10px 17px;
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    color: var(--off-white-color);
    margin: 1rem 0;
    font-size: 20px;
    cursor: pointer;
  }
  .btn:hover{
    color: var(--secondary-color);
  }
  .btn-block{
    display: block;
    width: 100%;
  
  }
  
  /*navbar styles*/
  
  .navbar{
    padding: 1rem;
    background: var(--dark-color);
  
  }
  .navbar_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_brand a{
    font-size: 1.4rem;
    color: var(--off-white-color);
    text-decoration: none;
  }
  .nav_brand a:hover{
    color: var(--secondary-color);
  }
  .nav__links{
    display: flex;
    list-style: none;
    align-items: center;
  }
  .links__link a {
    display: block;
    padding: 1rem;
    color: var(--off-white-color);
    text-decoration: none;
    margin-left: 0.5rem ;
    border:1px solid var(--dark-color) ;
    font-size: 20px;
  }
  .links__link a:hover{
    border-bottom: 1px solid var(--secondary-color);
    color:#3c948b;
  }
  /*Search bar styles*/
  body {
    background-color: linen;
  }h1 {
    color: maroon;
    margin-left: 40px;
  }.evans{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }.formless{
      width: 70%;
      border: 5px solid;
      padding: 20px;
      margin-top: 20px;
      margin: 2rem 0;
  }
  table, th, td {
    border: 1px solid black;
  }.services{
   
    margin-left: 50%;

  }.footer{
    margin-bottom: 0px;
  }
 
  
  .formless >input{
    width: 100%;
    padding: 10px 17px;
    border: 1px solid var(--dark-color);
    background: var(--off-white-color);
    color: var(--dark-color);
    font-size: 20px;
    outline-width: 0ch;
  }
  .formless >input>input:focus{
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
  }
  /*Alert styles*/
  .alert{
    padding: 10px 17px;
    font-size: 20px;
    border: 1px solid var(--dark-color);
    margin: 1rem 0;
  }
  .alert-warning{
    background: #f8ffc4;
    border:1px solid #ffee00 ;
  }
  .alert-danger{
    background: #ffc4c4;
    border:1px solid#ff0000;
  }
  .alert-info{
    background: #d7eafa;
    border:1px solid #0523b7;
  }